<!DOCTYPE html>
<html>
  <head>
    <title>Paken</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Paken</h1>
    <p>Welcome to Paken</p>
  </body>
</html>
